<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Fikrim Geldi Admin Paneli</title>

  <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/custom-sheets/navbar.css">
  <link rel="stylesheet" href="/css/custom-sheets/scrollbar.css">


</head>

<body class="bg-dark">

  <header>

    {{>navbar}}

  </header>


  <h1 class="text-center text-white mb-5 mt-5">ADMİN PANELİ PROJELER VE İLANLAR</h1>

  <div class="container bg-dark">

    <div class="col-12">
      <div class="accordion" id="adminAccordion">

        <div class="accordion-item mt-5">
          <h2 class="accordion-header" id="headingProjeler">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#projeler"
              aria-expanded="true" aria-controls="collapseProjeler">
              PROJELER
            </button>
          </h2>
          <div id="projeler" class="accordion-collapse collapse" aria-labelledby="headingProjeler"
            data-bs-parent="#adminAccordion">
            <div class="accordion-body">
              <div class="container d-flex justify-content-start">
                <div class="row">
                  {{#each projeler as |proje|}}

                  <div class="col-12 col-md-4 border border-3 border-dark p-3 project-wrapper" id="{{proje.id}}">

                    <form action="/anasayfa/admin" method="post">

                      <div class="form-row">
                        <div class="name">Proje ID</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="project_id" value="{{proje.id}}">
                          </div>
                        </div>
                      </div>


                      <div class="form-row">
                        <div class="name">USER ID</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="user_id" value="{{proje.user_id}}">
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="name">Projeyi Ekleyen</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="project_owner_name"
                              value="{{proje.projeyi_ekleyen}}">
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="name">Email</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="project_owner_email"
                              value="{{proje.email}}">
                          </div>
                        </div>
                      </div>


                      <div class="form-row">
                        <div class="name">Proje İsmi</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="project_name" value="{{proje.proje_ismi}}">
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="name">Proje Konusu</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="project_subject"
                              value="{{proje.proje_konusu}}">
                          </div>
                        </div>
                      </div>


                      <div class="form-row">
                        <div class="name">Proje Kategorisi</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="project_category"
                              value="{{proje.proje_kategorisi}}">
                          </div>
                        </div>
                      </div>


                      <div class="form-row">
                        <div class="name">Proje Sponsoru</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="project_sponsor"
                              value="{{proje.proje_sponsoru}}">
                          </div>
                        </div>
                      </div>



                      <div class="form-row">
                        <div class="name">Proje Lideri</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="project_leader"
                              value="{{proje.proje_lideri}}">
                          </div>
                        </div>
                      </div>



                      <div class="form-row">
                        <div class="name">Proje Takım Üyeleri</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="project_team_members"
                              value="{{proje.proje_takim_uyeleri}}">
                          </div>
                        </div>
                      </div>



                      <div class="form-row">
                        <div class="name">Proje Takım Üyeleri Görevleri</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="project_team_members_duty"
                              value="{{proje.proje_takim_uyeleri_gorevleri}}">
                          </div>
                        </div>
                      </div>



                      <div class="form-row">
                        <div class="name">Proje Açıklaması</div>
                        <div class="value">
                          <div class="input-group">
                            <textarea cols="43" rows="3" class="input--style-5" type="text"
                              name="project_explanation">{{proje.proje_aciklamasi}}</textarea>
                          </div>
                        </div>
                      </div>





                      <div class="form-row">

                        <div class="input-group custom-file-button">

                          <label for="formFile" class="input-group-text">Proje Kapak Resmi</label>
                          <input type="text" class="form-control p-3" id="formFile" name="project_image"
                            value="{{proje.proje_resmi_url}}">

                          <img class="img-fluid" src="../images/project_images/{{proje.proje_resmi_url}}">


                        </div>



                      </div>


                      <div class="form-row">


                        <div class="input-group custom-file-button">
                          <label class="input-group-text" for="inputGroupFile">Proje Dosyaları</label>
                          <input type="text" class="form-control p-3" id="inputGroupFile" name="project_file"
                            value="{{proje.proje_dosyalari_url}}">
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="name">Projenin Eklenme Tarihi</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="project_date"
                              value="{{proje.proje_eklenme_tarihi}}">
                          </div>
                        </div>
                      </div>


                      <div>

                        <div class="d-flex justify-content-center mt-5">

                          <button class="btn btn-primary m-3" type="submit">Projeyi Kütüphaneye Kaydet ve Panelden
                            Kaldır</button>

                        </div>

                      </div>


                    </form>


                  </div>


                  {{/each}}


                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item mt-5">
          <h2 class="accordion-header" id="headingTaİlanı">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#taİlanları"
              aria-expanded="true" aria-controls="collapseTaİlanları">
              TAKIM ARKADAŞI İLANLARI
            </button>
          </h2>
          <div id="taİlanları" class="accordion-collapse collapse" aria-labelledby="headingTaİlanı"
            data-bs-parent="#adminAccordion">
            <div class="accordion-body">
              <div class="container d-flex justify-content-start">
                <div class="row">
                  {{#each ilanlar as |ilan|}}

                  <div class="col-12 col-md-4 border border-3 border-dark p-3 project-wrapper" id="{{proje.id}}">

                    <form action="/anasayfa/admin" method="post">

                      <div class="form-row">
                        <div class="name">İlan ID</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="annT_id" value="{{ilan.id}}">
                          </div>
                        </div>
                      </div>


                      <div class="form-row">
                        <div class="name">USER ID</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="user_id" value="{{ilan.user_id}}">
                          </div>
                        </div>
                      </div>


                      <div class="form-row">
                        <div class="name">İlanı Ekleyen</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="annT_owner_name"
                              value="{{ilan.ilani_ekleyen}}">
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="name">Email</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="annT_owner_email" value="{{ilan.email}}">
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="name">İlan Başlığı</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="annT_title" value="{{ilan.ilan_basligi}}">
                          </div>
                        </div>
                      </div>


                      <div class="form-row">
                        <div class="name">İlan Açıklaması</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="annT_explanation"
                              value="{{ilan.ilan_aciklamasi}}">
                          </div>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="name">İlan Tarihi</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="annT_date" value="{{ilan.ilan_tarihi}}">
                          </div>
                        </div>
                      </div>


                      <div class="form-row">
                        <div class="name">İlan Projesi</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="annT_project_name"
                              value="{{ilan.ilan_projesi}}">
                          </div>
                        </div>
                      </div>



                      <div class="form-row">
                        <div class="name">İlan Şirketi</div>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="text" name="annT_company_name"
                              value="{{ilan.ilan_sirketi}}">
                          </div>
                        </div>
                      </div>

                      <div>

                        <div class="d-flex justify-content-center mt-5">

                          <button class="btn btn-primary m-3" type="submit">İlanı Panoya Kaydet ve Panelden
                            Kaldır</button>

                        </div>

                      </div>


                    </form>


                  </div>


                  {{/each}}


                </div>
              </div>
            </div>
          </div>
        </div>





      </div>
    </div>

  </div>


  </div>

  </div>



  </div>
  </div>


  <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>