<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Proje Kütüphanesi</title>


  {{!-- Vendor CSS Files --}}

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  {{!-- Vendor CSS Files --}}




  {{!-- Custom CSS Files --}}

  <link rel="stylesheet" href="../css/custom-sheets/navbar.css">
  <link rel="stylesheet" href="../css/custom-sheets/breadcrumb.css">
  <link rel="stylesheet" href="../css/proje_kutuphanesi.css" type="text/css">
  <link rel="stylesheet" href="/css/custom-sheets/scrollbar.css">



  {{!-- Custom CSS Files --}}


</head>

<body>


  <header>

    {{>navbar}}

  </header>

  <div class="library-super-wrapper">

    <div data-aos="fade-right" data-aos-duration="800" class="container hero-img-container">
      <div class="row">
        <div class="col-12">

          <h1 class="text-center library-header display-4">Proje Kütüphanesine Hoş Geldiniz</h1>
          <img class="library-hero-img" src="../images/banners/library-hero-alt0.jpg"
            alt="Kütüphane Modülü Kapak Resmi">

        </div>
      </div>
    </div>

    <div class="container filters-container mt-5">
      <h2 data-aos="fade-right" data-aos-duration="1000" class="text-center mb-4 fs-2">Bir proje kategorisi seçiniz</h2>
      <div data-aos="fade-up" class="container">

        <div class="row d-flex justify-content-center">

          <div data-aos="flip-left" data-aos-duration="800" class="col-5 col-md-2 m-3 category-outer-wrapper ">

            <div class="category-inner-wrapper pt-3 text-center">

              <a data-scroll href="/proje_kutuphanesi/kurumsal-sosyal-sorumluluk#kategoriler">

                <h5>Kurumsal Sosyal Sorumluluk</h5>
                <img class="img-fluid" src="../images/category_images/kss.jpg">

              </a>


            </div>

          </div>
          <div data-aos="flip-left" data-aos-duration="800" class="col-5 col-md-2 m-3 category-outer-wrapper ">

            <div class="category-inner-wrapper pt-3 text-center">

              <a data-scroll href="/proje_kutuphanesi/uretim#kategoriler">

                <h5>Üretim</h5>
                <img class="img-fluid" src="../images/category_images/üretim.jpg">

              </a>

            </div>

          </div>
          <div data-aos="flip-left" data-aos-duration="800" class="col-5 col-md-2 m-3 category-outer-wrapper ">

            <div class="category-inner-wrapper pt-3 text-center">

              <a data-scroll href="/proje_kutuphanesi/arge#kategoriler">

                <h5>AR-GE</h5>
                <img class="img-fluid" src="../images/category_images/arge.jpg">

              </a>


            </div>

          </div>
          <div data-aos="flip-left" data-aos-duration="800" class="col-5 col-md-2 m-3 category-outer-wrapper ">

            <div class="category-inner-wrapper pt-3 text-center">

              <a data-scroll href="/proje_kutuphanesi/hizmet#kategoriler">

                <h5>Hizmet</h5>
                <img class="img-fluid" src="../images/category_images/hizmet.jpg">

              </a>


            </div>





          </div>

          <p class="mt-5 text-center"><a class="tüm-projeler fw-bold" href="/proje_kutuphanesi#kategoriler"><i
                class="fa-solid fa-cloud"></i>
              Kütüphanede mevcut olan tüm projeleri görüntülemek istiyorum</a></p>




        </div>





      </div>

    </div>

    <div data-aos="fade-up" id="kütüphane" class="container library-projects-container mt-5">

      <section class="light" id="kategoriler">

        <div class="container overflow-x-hidden projects-inner-container">

          <div data-aos="fade-up" class="warning-wrapper">

            {{#ifCond projelerLength '==' 0}}

            <h3 id="no-projects" class="text-center text-black">Maalesef
              aradığınız kategoride proje
              bulunamadı <i class="fa-solid fa-face-frown me-2"></i></h3>

            {{/ifCond}}

          </div>

          <div data-aos="fade-up" class="d-flex m-3">

            <div class="col-6">

              {{#if headerKategori}}

              <h3 id="headerKategori">{{headerKategori}} Projeleri</h3>


              {{else}}

              <h3 id="headerKategori">Mevcut Projeler</h3>


              {{/if}}

            </div>

            <div class="col-6">
              <div class="search-wrapper">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input id="autocomplete_search" type="search" class="form-control text-center" placeholder="Proje Ara"
                  aria-label="Proje Ara" aria-describedby="search-addon" />
                <span id="search_result"></span>
              </div>

            </div>

          </div>




          {{#each projeler as |proje|}}

          <main>
            <article class="postcard light red">

              <a class="postcard__img_link" href="/projeler/{{proje.id}}">
                <img class="postcard__img" src="../images/randomForLibrary/{{proje.proje_resmi_url}}"
                  alt="Image Title" />
              </a>

              <div class="postcard__text">
                <h1 class="postcard__title blue ms-1"><a href="/projeler/{{proje.id}}">{{proje.proje_ismi}}</a></h1>
                <div class="postcard__subtitle small">
                  <time>
                    <i class="fa-regular fa-calendar-days"></i> <span class="date">{{proje.proje_eklenme_tarihi}}
                  </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{proje.proje_aciklamasi}}</div>
                <ul class="postcard__tagbox">
                  <li class="tag__item"><i class="fa-solid fa-clover"></i> {{proje.proje_kategorisi}}</li>

                  {{#ifCond proje.cito_adayi '==' 'Evet'}}

                  <li class="tag__item"><i class="fa-solid fa-paperclip"></i> CITO ADAYI</li>
                  {{/ifCond}}


                  <li class="tag__item play orange">

                    <span title="Profil Görüntüle" class="project_owner"><i class="fa-solid fa-user"></i><a
                        class="text-link" href="/profil/{{proje.user_id}}">
                        {{proje.projeyi_ekleyen}}</a></span>

                  </li>
                </ul>
              </div>
            </article>

          </main>

          {{/each}}


          <div class="container d-flex justify-content-center paginator mt-5">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item">

                  {{#ifCond page '>' 1 }}<a class="pagination-link page-link prev-pag text-center mb-2"
                    href="/proje_kutuphanesi/?sayfa={{pageDec}}#kategoriler">Geri</a>
                  {{/ifCond}}
                </li>


                {{#for iterator endingLink 1}}

                <li class="page-item">

                  {{#ifCond this '===' page}}

                  <a class="selectedLink page-link" href="/proje_kutuphanesi/?sayfa={{this}}#kategoriler">{{this}}</a>

                  {{else}}

                  <a class="pagination-link page-link"
                    href="/proje_kutuphanesi/?sayfa={{this}}#kategoriler">{{this}}</a>

                  {{/ifCond}}


                </li>


                {{/for}}



                <li class="page-item">



                  {{#ifCond page '<' numberOfPages }}<a class="pagination-link page-link text-center next-pag"
                    href="/proje_kutuphanesi?sayfa={{pageInc}}#kategoriler">
                    İleri
                    </a>
                    {{/ifCond}}



                </li>


              </ul>
            </nav>

          </div>



        </div>




      </section>








    </div>


  </div>




  <script src="../bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../js/proje_kütüphanesi.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>