<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Proje Kütüphanesi</title>

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" type="text/css">



  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="../css/wow.css">



  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="../css/custom-sheets/navbar.css">
  <link rel="stylesheet" href="../css/proje_kutuphanesi.css" type="text/css">
  <link rel="stylesheet" href="/css/custom-sheets/scrollbar.css">




</head>

<body>


  <header>


    {{>navbar}}

  </header>

  <div class="library-super-wrapper">

    <section id="#proje-sergisi" class="overflow-hidden animate__animated animate__fadeIn">


      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>

        </div>

        <div class="carousel-inner">
          <div class="carousel-item active c-item d-flex justify-content-center align-items-center">
            {{!-- <img src="../images/banners/library-hero.png" class="d-block w-100 c-img" alt="Slide 1"> --}}

            <video class="d-block w-100 c-video" autoplay loop muted>
              <source src="../videos/hero-video-gray.mp4" type="video/mp4" />
            </video>

            <div class="carousel-caption d-flex flex-column justify-content-center ">
              <a class="display-4 proje-nav fw-bolder animate__animated animate__backInDown" title="Sürpriz :)"
                id="party-time" href="#">Proje Kütüphanesine
                Hoş Geldiniz!</a>
              <p class="fs-5 animate__animated animate__backInDown">Lorem ipsum, dolor sit amet consectetur adipisicing
                elit....?</p>
            </div>


          </div>

          {{#each randomProjeler as |proje|}}

          <div class="carousel-item c-item" style="background-color: black;">
            <img src="{{proje.proje_resmi_path}}" class="d-block w-100 c-img" alt="Slide 2">
            <div class="carousel-caption d-flex flex-column justify-content-center">
              <a title="Projeyi Görüntüleyin"
                class="proje-nav display-4 fw-bolder animate__animated animate__backInDown"
                href="/projeler/{{id}}">{{proje.proje_ismi}}</a>
              <p class="fs-5 project-text-carousel animate__animated animate__backInDown">{{proje.proje_konusu}}</p>

            </div>
          </div>


          {{/each}}

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>



    </section>


    <section class="content wow fadeIn" id="kutuphane">
      <main>

        <div id="projeler" class="container projects-wrapper">



          <label class="fw-bold" for="filters">PROJE FİLTRESİ</label>
          <aside>

            <div id="filters" class="row mb-5">
              <div class="col-12 col-lg-4 me-auto">

                <div class="custom-select m-3">
                  <label class="form-label" for="project-category-filter">Kategoriye Göre</label>
                  <select class="w-100 form-select" name="project-category-filter" id="project-category-filter"
                    onchange="location = this.value;">
                    <option value="0" disabled selected>Bir Kategori Seçiniz</option>
                    <option value="/proje_kutuphanesi#kutuphane">Tüm Projeler</option>
                    <option value="/proje_kutuphanesi?proje_kategorisi=arge{{urlStringSpecial}}#kutuphane">Arge</option>
                    <option
                      value="/proje_kutuphanesi?proje_kategorisi=kurumsal sosyal sorumluluk{{urlStringSpecial}}#kutuphane">
                      Kurumsal Sosyal
                      Sorumluluk</option>
                    <option value="/proje_kutuphanesi?proje_kategorisi=hizmet{{urlStringSpecial}}#kutuphane">Hizmet
                    </option>
                    <option value="/proje_kutuphanesi?proje_kategorisi=uretim{{urlStringSpecial}}#kutuphane">Üretim
                    </option>

                  </select>
                </div>


              </div>

              {{#ifCond sort '!==' 'render'}}


              <div class="col-12 col-lg-4">


                <div class="custom-select m-3">


                  <label class="form-label" for="metadata-filter">Özelliklerine Göre</label>
                  <select class="w-100 form-select" name="metadata-filter" id="metadata-filter"
                    onchange="location = this.value;">
                    <option value="0" selected disabled>Bir Sırala Yöntemi Seçiniz</option>
                    <option value="/proje_kutuphanesi{{urlStringSortBy}}proje_goruntulenme_sayisi#kutuphane">En Çok
                      Görüntülenenler
                    </option>
                    <option value="/proje_kutuphanesi{{urlStringSortBy}}proje_eklenme_tarihi#kutuphane">En Son
                      Eklenilenler
                    </option>

                  </select>
                </div>

              </div>


              {{/ifCond}}



              {{#ifCond rangeRemover '!==' 'removeRange'}}
              <div class="col-12 col-lg-3">

                <div class="custom-select m-3">

                  <label class="form-label" for="date-filter">Tarihe Göre</label>
                  <select class="w-100 form-select" name="date-filter" id="date-filter"
                    onchange="location = this.value;">

                    <option value="0" disabled selected>Bir Aralık Seçiniz</option>
                    <option value="/proje_kutuphanesi{{urlStringRange}}bugun#kutuphane">Bugün</option>
                    <option value="/proje_kutuphanesi{{urlStringRange}}bu_hafta#kutuphane">Bu Hafta</option>
                    <option value="/proje_kutuphanesi{{urlStringRange}}bu_ay#kutuphane">Bu Ay</option>
                    <option value="/proje_kutuphanesi{{urlStringRange}}bu_yil#kutuphane">Bu Yıl</option>

                  </select>

                </div>

              </div>

              {{/ifCond}}

            </div>

          </aside>



          <div class="row mb-5">



            <div class="col-12">

              <h6>

                {{#if category}}
                <span id="info-category" class="fw-bold" style="color:#F99A1D">{{category}}</span><span> kategorisine
                  ait</span>
                {{/if}}
                {{#if range}}

                <span id="info-range" class="fw-bold" style="color:#F99A1D"> {{range}}</span><span> eklenen</span>

                {{/if}}
                <span>toplamda</span> <span id="info-count" class="fw-bold" style="color:#F99A1D"> {{length}} proje
                  bulundu</span>
              </h6>

            </div>

            <div class="col-12">


              {{#if sortBy}}

              <h6>Sıralama Türü : <span id="info-sort" class="fw-bold" style="color:#F99A1D">{{sortBy}}</span></h6>


              {{/if}}


            </div>

            <div class="col-12">

              <div>

                <a class="fw-bold" id="filter-remover" href="/proje_kutuphanesi#kutuphane">Filtreleri Sıfırla</a>


              </div>


            </div>




          </div>


          <div class="row mb-5">
            <div class="col-12 project-cards-header-container d-flex justify-content-center align-items-center">
              {{#ifCond projelerLength '==' 0}}

              <div class="header-container">
                <h2 id="empty" class="text-center text-black">Maalesef
                  aradığınız kategoride proje
                  bulunamadı <i class="fa-solid fa-face-frown me-2"></i></h2>
              </div>

              {{/ifCond}}


              {{#if category}}


              <div class="header-container">

                <h2 align="center" id="headerKategori">{{category}} PROJELERİ</h2>

              </div>

              {{else}}

              <div class="header-container">

                <h2 align="center" id="tumProjeler">TÜM PROJELER</h2>

                {{#if msgNoProjects}}

                <p>{{msgNoProjects}}</p>

                {{/if}}


              </div>

              {{/if}}

            </div>

          </div>



          <div id="card-container" class="row mb-5">
            {{#each projeler as |proje|}}

            <div class="pagination-wrapper">

              <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card text-white card-has-bg wow bounceInLeft"
                  style="background-image:url('{{proje.proje_resmi_path}}'); background-size: cover;">
                  <img class="card-img d-none" src="{{proje.proje_resmi_path}}">
                  <div class="card-img-overlay d-flex flex-column">

                    <div class="card-body">
                      <h2 class="card-meta mb-2"><a title="Projeyi Görüntüle"
                          href="/projeler/{{proje.id}}">{{proje.proje_ismi}}</a></a>
                      </h2>
                      <p class="card-title mt-0 fs-5 text-white">{{proje.proje_konusu}}</p>
                      <time>

                        <span><i class="fa-solid fa-clock me-1"></i>{{proje.proje_eklenme_tarihi}}</span>

                      </time>
                      <span class="ms-2"><i class="fa-solid fa-eye me-1"></i>{{proje.proje_goruntulenme_sayisi}}</span>

                    </div>
                    <div class="card-footer rounded-4">
                      <div class="media d-flex justify-content-end">
                        {{!-- <img class="mr-3 rounded-circle" src="../images/avatar_images/profile.png"
                          alt="Generic placeholder image" style="max-width:50px"> --}}
                        <div class="media-body w-100 d-flex justify-content-end">
                          <div class="card-owner">
                            <h5 class="my-0 text-white d-block text-end fw-bold"> <a title="Profili Görüntüle"
                                class="profile-nav" href="/profil/{{proje.user_id}}">{{proje.projeyi_ekleyen}}</a>
                            </h5>
                            <span class="fw-bold" style="float: right;">{{proje.proje_kategorisi}}</span>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            {{/each}}

          </div>


          <div class="row mb-5">

            <div class="col">

              <div class="m-5" id="pagination-container">

                {{!-- filled with js --}}


              </div>

            </div>




          </div>



        </div>
      </main>
    </section>

  </div>


  <a title="En baştaki projeye dön" href="#kutuphane"
    class="scroll-top d-flex align-items-center justify-content-center"><i class="fa-solid fa-arrow-up"></i></a>

  <button data-bs-toggle="modal" data-bs-target="#projectSearchModal" type="button"
    class="btn btn-primary fixed-button closed">Proje Ara</button>


  </div>

  <!-- Modal -->
  <div class="modal modal-xl fade" id="projectSearchModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-black text-white">
          <h1 class="modal-title w-100 text-center">Proje Kütüphanesine Eklenmiş Projeleri Arayın</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container"></div>
          <div class="row m-4">
            <div class="col-12">
              <div class="form-group">
                <input placeholder="Arama yapmak için bir tuşa basın" id="autocomplete_search" type="search"
                  class="form-control" />
                <div class="d-flex justify-content-start">
                  <button class="sr-collapse-btn" data-bs-toggle="collapse" data-bs-target="#search_result"
                    role="button" aria-expanded="false" aria-controls="search_result">
                    Projeleri Aç & Kapat
                  </button>
                </div>

                <div class="collapse" id="search_result"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="buttons">
            <button type="button" class="blob-btn" data-bs-dismiss="modal">
              Kapat
              <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                </span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="../bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.5.0/pagination.min.js"
    integrity="sha512-To905O3HNAHQVrN6xCie4dwDWV0OO3lwZl4rqtCvf+4lfkbx9XlyLmSiLosdi1WWBcW+VMy4Lmu/M10R+FsOPA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>


  <script src="../js/wow.js"></script>
  <script>
    new WOW().init();
  </script>

  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script>
    function addDarkmodeWidget() {
      new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  </script>

  <script src="../js/proje_kütüphanesi.js"></script>


</body>

</html>