<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Takım Arkadaşı Bul</title>


    {{!-- Vendor CSS Files --}}

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" type="text/css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    {{!-- Vendor CSS Files --}}

    <link rel="stylesheet" href="/css/custom-sheets/navbar.css">
    <link rel="stylesheet" href="../css/takim_arkadasi_ilan_panosu.css">
    <link rel="stylesheet" href="/css/custom-sheets/scrollbar.css">




</head>

<body>


    <header>

        {{>navbar}}

    </header>


    {{#each ilanlar as |ilan|}}

    <div class="modal fade" tabindex="-1" id="{{ilan.id}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title fw-bold w-100">{{ilan.ilan_basligi}}</h5>
                    <button type="button" class="btn-close modal-close-x" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ilan.ilan_aciklamasi}}</p>
                    <img class="img-fluid" src="../images/randomForLibrary/{{ilan.proje_resmi_url}}" alt="ilan-resmi">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn modal-btn" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>



    {{/each}}




    <div class="tmmt-super-wrapper">

        <div data-aos="fade-right" data-aos-duration="800" class="container hero-img-container">
            <div class="row">
                <div class="col-12">

                    <h1 class="text-center tmmt-header display-4">Takım Arkadaşı İlan Panosuna Hoş Geldiniz</h1>
                    <img class="tmmt-hero-img" src="../images/banners/tmmt-hero.jpg" alt="Kütüphane Modülü Kapak Resmi">

                </div>
            </div>
        </div>

        <div class="container filters-container mt-5">

            <h3 data-aos="fade-left" data-aos-duration="1000" class="text-center filter-header mb-4"> Şirkete özel
                ilanlar için İnci
                Holding
                veya Grup Şirketlerinden birini seçiniz</h3>

            <div data-aos="fade-left" data-aos-duration="1000" class="container">

                <div class="container filters-wrapper companies">

                    <div class="row">

                        <div class="col-4 col-lg-3 d-flex justify-content-center align-items-center cmp-col">
                            <a href="/takim_arkadasi_ilan_panosu/Yusen İnci Lojistik Ticaret A. Ş.#ilanlar">
                                <img class="img-fluid" src="/images/company_images/yusen-inci-lojistik.jpg">
                            </a>

                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center align-items-center cmp-col">

                            <a href="/takim_arkadasi_ilan_panosu/İnci Holding#ilanlar">

                                <img class="img-fluid" src="/images/company_images/inci-holding.png">


                            </a>
                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center align-items-center cmp-col">

                            <a href="/takim_arkadasi_ilan_panosu/İnci GS Yuasa Akü Sanayi ve Ticaret A.Ş.#ilanlar">
                                <img class="img-fluid" src="/images/company_images/incigsyuasa.jpg">

                            </a>
                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center align-items-center cmp-col">

                            <a href="/takim_arkadasi_ilan_panosu/İncitaş Motorlu Araçlar San. A. Ş.#ilanlar">

                                <img class="img-fluid" src="/images/company_images/incitaş.jpg">


                            </a>

                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center align-items-center cmp-col">

                            <a
                                href="/takim_arkadasi_ilan_panosu/ISM Minibar Makina Elektrik Sanayi ve Ticaret A. Ş.#ilanlar">
                                <img class="img-fluid" src="/images/company_images/ism.jpg">

                            </a>
                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center align-items-center cmp-col">

                            <a href="/takim_arkadasi_ilan_panosu/Maxion İnci Jant Sanayi A. Ş.#ilanlar">
                                <img class="img-fluid" src="/images/company_images/maxion-inci.jpg">
                            </a>
                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center align-items-center cmp-col">

                            <a href="/takim_arkadasi_ilan_panosu/Maxion Jantaş Jant Sanayi ve Ticaret A. Ş.#ilanlar">
                                <img class="img-fluid" src="/images/company_images/maxion-jantaj.jpg">

                            </a>
                        </div>
                        <div class="col-4 col-lg-3 d-flex justify-content-center  align-items-center cmp-col">

                            <a href="/takim_arkadasi_ilan_panosu/Vinci B.V. Girişim Sermayesi#ilanlar">
                                <img class="img-fluid" src="/images/company_images/vinci.jpg">

                            </a>
                        </div>


                        <div class="mt-5 d-flex justify-content-center align-items-center">

                            <div class="col-6">
                                <p><a class="tüm-ilanlar fw-bold" href="/takim_arkadasi_ilan_panosu#ilanlar"><i
                                            class="fa-solid fa-cloud"></i>
                                        İlan panosunda mevcut olan tüm ilanları görüntülemek istiyorum</a></p>
                            </div>


                            <div class="col-6">
                                <div class="search-wrapper">
                                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                                    <input id="autocomplete_search" type="search" class="form-control text-center"
                                        placeholder="Bir takım arkadaşı ilanı arayın"
                                        aria-label="Bir takım arkadaşı ilanı arayın" aria-describedby="search-addon" />
                                    <span id="search_result"></span>
                                </div>

                            </div>

                        </div>




                    </div>


                </div>


            </div>

        </div>

        <section class="container rounded-3" data-aos="slide-right" data-aos-duration="1000" id="ilanlar">

            <div class="container mt-5">

                {{#ifCond ilanlarLength '==' 0}}

                <h4 id="no-ilan" class="text-center mt-5 pt-3 text-black">Maalesef
                    aradığınız şirket için uygun bir takım arkadaşı ilanı
                    bulunamadı <i class="fa-solid fa-face-frown me-2"></i></h4>

                {{/ifCond}}
                <div>

                    {{#if headerCompany}}

                    <h1 id="headerCompany" class="m-4 p-2 text-center text-black"> <span
                            class="unique-company">{{headerCompany}}</span>
                        şirketine ait ilanlar</h1>


                    {{else}}

                    <h1 id="headerCompany" class="m-4 p-2 text-center text-black">Panodaki Mevcut Tüm İlanlar</h1>


                    {{/if}}

                </div>



                <div class="row">

                    {{#each ilanlar as |ilan|}}


                    <div data-aos="flip-down" data-aos-duration="800" data-aos-delay="500"
                        class="col-sm-12 col-md-6 col-lg-4 mb-4">
                        <div class="card text-white card-has-bg click-col" title="Detaylar için tıklayınız" data-bs-toggle="modal"
                            data-bs-target="#{{ilan.id}}"
                            style="background-image:url('../images/randomForLibrary/{{ilan.proje_resmi_url}}'); background-size: cover;">
                            <div class="card-img-overlay d-flex flex-column">
                                <div class="card-body">
                                    <h5 class="card-meta text-center mb-5"><a class="ilan_projesi"
                                            href="/projeler/{{ilan.proje_id}}">İlanın ait olduğu proje:
                                            {{ilan.ilan_projesi}}</a></h5>
                                    <h4 class="card-title mt-0 "><a class="text-white"
                                            herf="#">{{ilan.ilan_basligi}}</a>
                                    </h4>
                                    <small><i class="far fa-clock"></i> {{ilan.ilan_tarihi}}</small>
                                </div>
                                <div class="card-footer">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="/images/avatar_images/profile.png"
                                            alt="Generic placeholder image" style="max-width:50px">
                                        <div class="media-body bg-dark rounded-2">
                                            <h6 class="text-white d-block pt-4 ps-3"> <a class="annT_owner"
                                                    href="/profil/{{ilan.user_id}}">{{ilan.ilani_ekleyen}}</a></h6>
                                            <p class="text-end pb-4 pe-3">{{ilan.ilan_sirketi}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    {{/each}}



                </div>

            </div>


            <div class="container d-flex justify-content-center paginator mt-5">

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item">


                            {{#ifCond page '>' 1 }}<a class="pagination-link page-link prev-pag text-center mb-2"
                                href="/takim_arkadasi_ilan_panosu/?sayfa={{pageDec}}#ilanlar">Geri</a>{{/ifCond}}
                        </li>


                        {{#for iterator endingLink 1}}

                        <li class="page-item">

                            {{#ifCond this '===' page}}

                            <a class="selectedLink page-link"
                                href="/takim_arkadasi_ilan_panosu/?sayfa={{this}}#ilanlar">{{this}}</a>

                            {{else}}

                            <a class="pagination-link page-link"
                                href="/takim_arkadasi_ilan_panosu/?sayfa={{this}}#ilanlar">{{this}}</a>

                            {{/ifCond}}


                        </li>


                        {{/for}}



                        <li class="page-item">


                            {{#ifCond page '<' numberOfPages }}<a class="pagination-link page-link text-center next-pag"
                                href="/takim_arkadasi_ilan_panosu/?sayfa={{pageInc}}#ilanlar">
                                İleri
                                </a>{{/ifCond}}



                        </li>


                    </ul>
                </nav>

            </div>



        </section>


    </div>






    <script src="../bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>

    <script src="../js/ta_ilan_panosu.js"></script>


</body>

</html>